*{
    background-color: rgb(28, 28, 87);
    font-family: 'Anton', sans-serif;
}
p{
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: bolder;
}
div{
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
}

.btn{
    margin-top: 2%;
    border: 5px solid black;
    border-radius: 40px;
    width: 150px;
    height: 150px;
    flex-basis: 12%;
}
.green{
    background-color: green;
    justify-content: left;
}
.red{
    background-color: red;
    justify-content: right;
}
.yellow{
    background-color: yellow;
    justify-content: left;
}
.blue{
    background-color: blue;
    justify-content: right;
}
.pressed{
    box-shadow: 0 0 20px white;
    background-color: grey;
}
@media (max-width: 600px) {
    .btn{
        flex-basis: 25%;
    }
    p{
        font-size: 30px;;
    }
}